
@{
    ViewBag.Title = "Home Page";
}

<div id="LeftDiv">
    <table>
        <tr>
            <td><p>Id рботника</p></td>
            <td><p>Имя</p></td>
            <td><p>телефон</p></td>
            <td><p>E-mail</p></td>
        </tr>
        @foreach (SiteTask.Models.Worker b in ViewBag.Workers)
        {
            <tr>
                <td><p>@b.WorkerId</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.PhoneNumber</p></td>
                <td><p>@b.Email</p></td>
                <td><p><a href="/Home/EditWorker/@b.WorkerId">Edit</a></p></td>
                <td><p><a href="/Home/RemoveWorker/@b.WorkerId">Remove</a></p></td>
            </tr>
        }
    </table>
    <a href="/Home/addWorker/">Add</a>
</div>
<div id="CetnterDiv">
    <table>
        <tr>
            <td><p>Id задачи</p></td>
            <td><p>Название</p></td>
            <td><p>Комментарий</p></td>
        </tr>
        @foreach (SiteTask.Models.Task b in ViewBag.Tasks)
        {
            <tr>
                <td><p>@b.TaskId</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.Comment</p></td>
                <td><p><a href="/Home/EditTask/@b.TaskId">Edit</a></p></td>
                <td><p><a href="/Home/RemoveTask/@b.TaskId">Remove</a></p></td>
            </tr>
        }
    </table>
    <a href="/Home/addTask/">Add</a>
</div>
<div id="RightDiv">
    @*<table>
        <tr>
            <td><p> @Html.ActionLink("Last Name", "Index", new { category = ViewBag.TaskSortParm }) </p></td>
            <td><p>Id задачи</p></td>
            <td><p>Id работника</p></td>
            <td><p>Дата</p></td>
            <td><p>Кол-во часов</p></td>
        </tr>
        @foreach (SiteTask.Models.Time b in ViewBag.Times)
        {
            <tr>
                <td><p>@b.TimeId</p></td>
                <td><p>@ViewBag.Tasks.Find(b.TaskId).Name</p></td>
                <td><p>@ViewBag.Workers.Find(b.WorkerId).Name</p></td>
                <td><p>@b.Date</p></td>
                <td><p>@b.Hours</p></td>
                <td><p><a href="/Home/EditTime/@b.TimeId">Edit</a></p></td>
                <td><p><a href="/Home/RemoveTime/@b.TimeId">Remove</a></p></td>
            </tr>
        }
    </table>*@
    <a href="/Home/addTime/">Add</a>
</div>
@*@foreach (var g in ((IEnumerable<SiteTask.Models.Time>)ViewBag.Times).GroupBy(p => p.TimeId))
{
    <li>
        @g.Key - @g.Count()
    </li>
}*@
<div>
    @{
        var grid = new WebGrid(ViewBag.Times, defaultSort: "TimeId");
    }
    @grid.GetHtml()
</div>